:root {
  --colorWhite: #ffffff;
  --colorNeutralCool: #f9f9f9;
  --colorNeutralWarm: #f2f0eb;
  --colorCeramic: #edebe9;
  --colorBlack: #000000;
  --colorGreenStarbucks: #006241;
  --colorGreenAccent: #00754a;
  --colorGreenLight: #d4e9e2;
  --colorHouseGreen: #1e3932;
  --colorGold: #cba258;
  --colorGoldLight: #dfc49d;
  --colorGoldLightest: #faf6ee;
  --colorRed: #d62b1f;
  --colorYellow: #fbbc05;
  --colorWhiteHsl: 0 0% 100%;
  --colorNeutralCoolHsl: 0 0% 98%;
  --colorNeutralWarmHsl: 43 21% 94%;
  --colorCeramicHsl: 30 10% 92%;
  --colorBlackHsl: 0 0% 0%;
  --colorGreenStarbucksHsl: 160 100% 19%;
  --colorGreenAccentHsl: 158 100% 23%;
  --colorGreenLightHsl: 160 32% 87%;
  --colorHouseGreenHsl: 164 31% 17%;
  --colorGoldHsl: 39 53% 57%;
  --colorGoldLightHsl: 35 51% 75%;
  --colorGoldLightestHsl: 40 55% 96%;
  --colorRedHsl: 4 75% 48%;
  --colorYellowHsl: 45 97% 50%;
  --colorBlack6: rgba(0, 0, 0, 0.06);
  --colorBlack10: rgba(0, 0, 0, 0.1);
  --colorBlack20: rgba(0, 0, 0, 0.2);
  --colorBlack30: rgba(0, 0, 0, 0.3);
  --colorBlack40: rgba(0, 0, 0, 0.4);
  --colorBlack50: rgba(0, 0, 0, 0.5);
  --colorBlack60: rgba(0, 0, 0, 0.6);
  --colorBlack70: rgba(0, 0, 0, 0.7);
  --colorBlack80: rgba(0, 0, 0, 0.8);
  --colorBlack90: rgba(0, 0, 0, 0.9);
  --colorWhite10: rgba(255, 255, 255, 0.1);
  --colorWhite20: rgba(255, 255, 255, 0.2);
  --colorWhite30: rgba(255, 255, 255, 0.3);
  --colorWhite40: rgba(255, 255, 255, 0.4);
  --colorWhite50: rgba(255, 255, 255, 0.5);
  --colorWhite60: rgba(255, 255, 255, 0.6);
  --colorWhite70: rgba(255, 255, 255, 0.7);
  --colorWhite80: rgba(255, 255, 255, 0.8);
  --colorWhite90: rgba(255, 255, 255, 0.9);
  --colorTextBlack: rgba(0, 0, 0, 0.87);
  --colorTextBlackSoft: rgba(0, 0, 0, 0.58);
  --colorTextWhite: rgba(255, 255, 255, 1);
  --colorTextWhiteSoft: rgba(255, 255, 255, 0.7);
  --colorGrayLight: #cccccc;
  --colorGrayLighter: #d9d9d9;
  --colorGrayLighter2: #dadada;
  --colorGrayMediumLight: #707070;
  --colorGrayMediumLight2: #767676;
  --colorGrayMedium: #444444;
  --colorGrayMedium2: #454141;
  --colorGrayDark: #282828;
  --colorGraySubtleType: #707070;
  --colorGrayNatural: #f9f9f9;
  --colorCream: #f2f0eb;
  --colorBlackWarm: #2d2926;
  --colorBlackWarm12: rgba(0, 0, 0, 0.1);
  --colorBlackWarmer: #3d3935;
  --colorGreenDarkApron: #00754a;
  --colorGreenApron: #00754a;
  --colorGreenLightSecondary: hsl(160 32% 87%/33%);
  --typefaceLoading: Helvetica Neue, Helvetica, Arial, sans-serif;
  --typefacePrimary: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  --textSize1: 1.3rem;
  --textSize2: 1.4rem;
  --textSize3: 1.6rem;
  --textSize4: 1.9rem;
  --textSize5: 2rem;
  --textSize6: 2.2rem;
  --textSize7: 2.4rem;
  --textSize8: 2.8rem;
  --textSize9: 3.6rem;
  --textSize10: 5rem;
  --letterSpacingNormal: -0.01em;
  --letterSpacingLoose: 0.1em;
  --letterSpacingLooser: 0.15em;
  --lineHeightNormal: 1.5;
  --lineHeightCompact: 1.2;
  --space-1: 0.4rem;
  --space-2: 0.8rem;
  --space-3: 1.6rem;
  --space-4: 2.4rem;
  --space-5: 3.2rem;
  --space-6: 4rem;
  --space-7: 4.8rem;
  --space-8: 5.6rem;
  --space-9: 6.4rem;
  --frapPadding: 9rem;
  --frapPaddingDouble: 14.6rem;
  --logoOffsetMd: 99px;
  --logoOffsetLg: 131px;
  --outerGutter: 1.6rem;
  --outerGutterMedium: 2.4rem;
  --outerGutterLarge: 4rem;
  --headerCrateOuterGutterLarge: 4rem;
  --floatLabelFontSizeMobile: 1.6rem;
  --floatLabelActiveFontSizeMobile: 1.3rem;
  --floatLabelFontSizeDesktop: 1.9rem;
  --floatLabelActiveFontSizeDesktop: 1.4rem;
  --formHorizontalPadding: 1.6rem;
  --headerCrateProportion: 40vw;
  --contentCrateProportion: 60vw;
  --md-navTextInset: 9.6rem;
  --xl-navTextInset: 11.2rem;
  --navBarHeightMobile: 74px;
  --navBarHeightDesktop: 106px;
  --globalNavHeightXs: 64px;
  --globalNavHeightMobile: 72px;
  --globalNavHeightTablet: 83px;
  --globalNavHeightDesktop: 99px;
  --globalSubnavHeight: 53px;
  --cardBorderRadius: 12px;
  --cardBoxShadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 1px 0px rgba(0, 0, 0, 0.24);
  --cardBackgroundColor: #ffffff;
  --columnWidthSmall: 343px;
  --columnWidthMedium: 500px;
  --columnWidthLarge: 720px;
  --columnWidthXLarge: 1440px;
  --defaultAnimationEntranceDuration: 300ms;
  --defaultAnimationExitDuration: 200ms;
  --defaultAnimationEasing: cubic-bezier(0.25, 0.1, 0.25, 1);
  --siteMaxWidth: 1440px;
  --siteNarrowWidth: 720px;
  --svcRoundedCorners: 3.3333%/5.298%;
  --svcShadowFilter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.11))
    drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.24));
}
